# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: cashapp-ynab-converter-pipeline

on:
  push:
    branches: ['main']
    paths-ignore:
      - README.md
  pull_request:
    branches: ['main']
    paths-ignore:
      - README.md

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: true
          cache-dependency-path: |
            go.sum
            go.sum

      - name: Install CI dependencies
        run: make install-ci-dependencies

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.1.0

      - name: Security check
        run: make security-check

      - name: Critic
        run: make critic

      - name: Test
        run: make test-ci

      - name: check test coverage
        id: coverage ## this step must have id
        uses: vladopajic/go-test-coverage@v2
        with:
          profile: coverage/profile.out
          local-prefix: github.com/leonardobazico/cashapp-ynab-converter
          threshold-file: 80
          threshold-package: 80
          threshold-total: 95

      - name: make coverage badge
        uses: action-badges/core@0.4.0
        if: contains(github.ref, 'main')
        with:
          label: coverage
          message: ${{ steps.coverage.outputs.badge-text }}
          message-color: ${{ steps.coverage.outputs.badge-color }}
          file-name: coverage.svg
          badge-branch: badges ## orphan branch where badge will be committed
          github-token: '${{ secrets.GITHUB_TOKEN }}'

      - name: Build CLI
        run: make build-cli
